//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3
#define TVP1 4
#define TVP2 5

/ {
    combos {
        compatible = "zmk,combos";

        L_shift {
            bindings = <&kp LEFT_SHIFT>;
            key-positions = <11 12 13>;
        };

        R_Shift {
            bindings = <&kp RIGHT_SHIFT>;
            key-positions = <16 17 18>;
        };

        L_Ctrl {
            bindings = <&kp LEFT_CONTROL>;
            key-positions = <1 2 3>;
        };

        R_Ctrl {
            bindings = <&kp RIGHT_CONTROL>;
            key-positions = <6 7 8>;
        };

        L_Alt {
            bindings = <&kp LEFT_ALT>;
            key-positions = <13 14>;
        };

        R_Alt {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <15 16>;
        };

        L_Gui {
            bindings = <&kp LEFT_GUI>;
            key-positions = <24 25>;
        };

        R_Gui {
            bindings = <&kp RIGHT_GUI>;
            key-positions = <26 27>;
        };

        T_ios {
            bindings = <&tog 4>;
            key-positions = <35 36 34 33>;
        };

        T_setting {
            bindings = <&tog 6>;
            key-positions = <20 31>;
        };
    };

    macros {
        m1: m1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(M)>, <&macro_wait_time 10>, <&kp K>;

            label = "M1";
        };

        m2: m2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_ALT>,
                <&macro_wait_time 50>,
                <&kp T>,
                <&macro_wait_time 50>,
                <&kp ENTER>;

            label = "M2";
        };

        m3: m3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LEFT_BRACKET) &kp LS(RIGHT_BRACKET)>,
                <&macro_wait_time 10>,
                <&kp LEFT>;

            label = "M3";
        };

        m4: m4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F6 &kp N &kp K>, <&macro_wait_time 10>, <&kp SPACE>;

            label = "M4";
        };

        m5: m5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F6 &kp N &kp H>, <&macro_wait_time 10>, <&kp SPACE>;

            label = "M5";
        };

        m0: m0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp N0 &kp N6 &kp N0 &kp N6 &kp N2 &kp N2>,
                <&macro_wait_time 10>,
                <&kp ENTER>;

            label = "M0";
        };

        m6: m6 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp H &kp O &kp N &kp E &kp Y &kp N &kp L &kp C &kp H &kp I &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
            label = "M6";
        };

        td2_tap: td2_tap {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp DOT &kp DOT &kp DOT &kp SPACE>,
                <&macro_wait_time 10>,
                <&kp LEFT>;

            label = "TD2_TAP";
        };

        td2_hold: td2_hold {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp FSLH &kp FSLH &kp MINUS &kp SPACE>,
                <&macro_wait_time 10>,
                <&kp LEFT>;

            label = "TD2_HOLD";
        };
    };

    behaviors {
        OSM_Meh: OSM_Meh {
            compatible = "zmk,behavior-sticky-key";
            label = "OSM_MEH";
            bindings = <&kp>;
            #binding-cells = <1>;
            release-after-ms = <200>;
            quick-release;
        };

        td1: td1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD1";
            #binding-cells = <0>;
            bindings = <&mt LANG2 LANG1>, <&kp CAPS>;
        };

        td2: td2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD2";
            #binding-cells = <0>;
            bindings =
                <&mt LC(LA(LG(NUMBER_2))) LC(LA(LG(NUMBER_1)))>,
                <&kp LS(GRAVE)>;
        };

        td3: td3 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD3";
            #binding-cells = <0>;
            bindings =
                <&mt LC(LA(LG(NUMBER_6))) LC(LA(LG(N5)))>,
                <&kp LC(LA(LG(NUMBER_4)))>;
        };

        td4: td4 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD4";
            #binding-cells = <0>;
            bindings = <&mt LC(LA(LG(N7))) LS(N9)>, <&kp LEFT_BRACKET>;

            tapping-term-ms = <300>;
        };

        td5: td5 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD5";
            #binding-cells = <0>;
            bindings = <&mt LC(LA(LG(N8))) LS(N0)>, <&kp RIGHT_BRACKET>;

            tapping-term-ms = <300>;
        };

        td6: td6 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD6";
            #binding-cells = <0>;
            bindings = <&mt LC(LA(LG(N0))) LC(LA(LG(N9)))>, <&m3>;
        };

        td7: td7 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD7";
            #binding-cells = <0>;
            bindings =
                <&mt LC(LA(LG(GRAVE))) LC(LA(LG(COMMA)))>,
                <&kp LC(LA(LG(PERIOD)))>;
        };

        td8: td8 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD8";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&kp LS(SQT)>;
        };

        td9: td9 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD9";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp LS(MINUS)>;
        };

        td10: td10 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD10";
            #binding-cells = <0>;
            bindings = <&kp SEMICOLON>, <&kp LS(SEMICOLON)>;
        };

        td11: td11 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD11";
            #binding-cells = <0>;
            bindings = <&kp EQUAL>, <&kp LS(EQUAL)>;
        };

        td12: td12 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD12";
            #binding-cells = <0>;
            bindings = <&td12_s 0 F6>, <&m4>;
        };

        td12_s: td12_s {
            compatible = "zmk,behavior-hold-tap";
            label = "TD12_S";
            bindings = <&m5>, <&kp>;

            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
        };

        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD0";
            #binding-cells = <0>;
            bindings = <&kp TAB>, <&m0>;
        };

        td1_ios: td1_ios {
            compatible = "zmk,behavior-tap-dance";
            label = "TD1_IOS";
            #binding-cells = <0>;
            bindings = <&kp LG(SPACE)>, <&kp CAPS>;
        };

        td2_ios_s: td2_ios_s {
            compatible = "zmk,behavior-hold-tap";
            label = "TD2_IOS_S";
            bindings = <&td2_hold>, <&td2_tap>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        td2_ios: td2_ios {
            compatible = "zmk,behavior-tap-dance";
            label = "TD2_IOS";
            #binding-cells = <0>;
            bindings = <&td2_ios_s 0 0>, <&kp LS(GRAVE)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_win {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "BASE";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     Q     ┃     W     ┃     F     ┃     P     ┃     G     ┃   ┃     J     ┃     L     ┃     U     ┃     Y     ┃     ;     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃     A     ┃     R     ┃     S     ┃     T     ┃     D     ┃   ┃     H     ┃     N     ┃     E     ┃     I     ┃     O     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃     Q     ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     K     ┃     M     ┃     ,     ┃     .     ┃     /     ┃     \     ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃    DEL    ┃    TAB    ┃    SPC    ┃   ┃   ENTER   ┃           ┃   BSPC    ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
       &kp Q  &kp W  &kp E       &kp R            &kp T          &kp Y  &kp U      &kp I      &kp O    &kp P
       &kp A  &kp S  &kp D       &kp F            &kp G          &kp H  &kp J      &kp K      &kp L    &kp LS(NUMBER_1)
&mo 2  &kp Z  &kp X  &kp C       &kp V            &td0           &kp N  &kp M      &kp COMMA  &kp DOT  &kp FSLH          &lt 2 ESC
                     &kp DELETE  &lt 1 BACKSPACE  &lt 3 ENTER    &kp B  &kp SPACE  &td1
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        work_win {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "NAVI";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃           ┃           ┃     UP    ┃           ┃     {     ┃   ┃     }     ┃     7     ┃     8     ┃     9     ┃     +     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃   SHIFT   ┃   LEFT    ┃    DOWN   ┃   RIGHT   ┃     [     ┃   ┃     ]     ┃     4     ┃     5     ┃     6     ┃     -     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃           ┃           ┃   P UP    ┃  C LOCK   ┃  P DOWN   ┃     (     ┃   ┃     )     ┃     1     ┃     2     ┃     3     ┃     *     ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃    TAB    ┃    SPC    ┃   ┃    DEL    ┃     0     ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
                   &m1                &m2                &kp LEFT_SHIFT  &kp LA(C)  &kp LC(G)        &td9   &td7  &kp HOME  &kp PAGE_UP    &kp UP
                   &kp LC(A)          &kp LC(C)          &kp LC(V)       &kp LC(Z)  &kp LC(F)        &td10  &td8  &kp END   &kp PAGE_DOWN  &kp DOWN
&kp LC(LS(LA(A)))  &kp LC(LA(LG(A)))  &kp LC(LA(LG(B)))  &kp LC(LS(V))   &td12      &kp LC(LS(G))    &td11  &td4  &td5      &kp LEFT       &kp F5    &kp RIGHT
                                                         &kp F2          &trans     &kp LC(S)        &td6   &td2  &td3
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        number {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "SYM";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     !     ┃     @     ┃     #     ┃     $     ┃     %     ┃   ┃     ˆ     ┃     &     ┃     Ü     ┃     '     ┃     "     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃     Ä     ┃           ┃    SZ     ┃           ┃           ┃   ┃   MUTE    ┃   YEN     ┃   EURO    ┃  POUND    ┃     Ö     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃           ┃  EMAIL1   ┃  EMAIL2   ┃           ┃           ┃           ┃   ┃   VOL-    ┃   VOL+    ┃   LAST    ┃   NEXT    ┃     \     ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃    GIF    ┃    ADJ    ┃   ┃           ┃           ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
       &kp LA(PRINTSCREEN)  &msc SCRL_UP     &kp C_VOLUME_UP  &kp C_PREV                 &trans             &kp MINUS  &kp N7        &kp N8          &kp N9        &msc SCRL_UP
       &kp LEFT_SHIFT       &msc SCRL_DOWN   &kp C_VOL_DN     &kp C_NEXT                 &msc SCRL_LEFT     &trans     &kp NUMBER_4  &kp N5          &kp NUMBER_6  &msc SCRL_DOWN
&mo 2  &trans               &kp LC(LS(ESC))  &kp C_MUTE       &kp C_PP                   &msc SCRL_RIGHT    &kp EQUAL  &kp NUMBER_1  &kp NUMBER_2    &kp NUMBER_3  &msc SCRL_RIGHT  &trans
                                             &kp C_AL_CALC    &OSM_Meh LC(LS(LEFT_ALT))  &mkp RCLK          &kp N0     &kp SPACE     &msc SCRL_LEFT
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        edit_win {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "ADJ";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃   RESET   ┃ BT CLEAR  ┃  OUT TOG  ┃           ┃           ┃   ┃           ┃    F7     ┃    F8     ┃    F9     ┃    F12    ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃ BOOTLOAD  ┃ BT NEXT   ┃           ┃           ┃           ┃   ┃           ┃    F4     ┃    F5     ┃    F6     ┃    F11    ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃           ┃           ┃ BT PREV   ┃           ┃           ┃           ┃   ┃           ┃    F1     ┃    F2     ┃    F3     ┃    F10    ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
                  &trans  &kp LC(LS(PAGE_UP))  &kp LEFT_SHIFT  &kp LC(LS(PAGE_DOWN))  &kp LC(LA(LEFT))     &kp LC(LG(UP))         &trans                &kp LS(TAB)            &trans        &kp LC(LS(UP))
                  &trans  &trans               &kp LEFT_ALT    &kp LEFT_CONTROL       &kp LC(LA(RIGHT))    &kp LC(LG(DOWN))       &kp LC(LA(LG(UP)))    &kp TAB                &trans        &kp LC(LS(DOWN))
&kp LS(LG(LEFT))  &trans  &trans               &trans          &trans                 &m6                  &kp LC(LA(LG(MINUS)))  &kp LC(LA(LG(DOWN)))  &kp LC(LA(LG(EQUAL)))  &kp LC(LEFT)  &trans            &kp LC(RIGHT)
                                               &bt BT_NXT      &trans                 &trans               &trans                 &trans                &trans
            >;
        };

        base_ios {
            bindings = <
       &kp Q  &kp W  &kp E       &kp R            &kp T        &kp Y  &kp U      &kp I      &kp O       &kp P
       &kp A  &kp S  &kp D       &kp F            &kp G        &kp H  &kp J      &kp K      &kp L       &kp EXCLAMATION
&mo 2  &kp Z  &kp X  &kp C       &kp V            &kp TAB      &kp N  &kp M      &kp COMMA  &kp PERIOD  &kp SLASH        &kp ESC
                     &kp DELETE  &lt 5 BACKSPACE  &kp ENTER    &kp B  &kp SPACE  &td1_ios
            >;
        };

        work_ios {
            bindings = <
        &kp LA(LEFT)  &kp LA(RIGHT)  &kp LEFT_SHIFT  &bt BT_NXT   &kp LG(G)     &td9    &none     &kp LG(LEFT_ARROW)  &kp LG(PAGE_UP)    &kp UP
        &kp LG(A)     &kp LG(C)      &kp LG(V)       &kp LG(Z)    &kp LG(F)     &td10   &td8      &kp LG(RIGHT)       &kp LG(PAGE_DOWN)  &kp DOWN
&trans  &trans        &trans         &kp LG(H)       &kp LG(TAB)  &kp LG(GT)    &td11   &td4      &td5                &kp LEFT           &trans    &kp RIGHT
                                     &trans          &trans       &trans        &trans  &td2_ios  &trans
            >;
        };

        bluetooth {
            bindings = <
            &trans  &trans  &trans  &trans  &trans    &trans        &trans        &trans        &trans  &trans
            &trans  &trans  &trans  &trans  &trans    &trans        &trans        &trans        &trans  &trans
&sys_reset  &trans  &trans  &trans  &trans  &trans    &trans        &trans        &trans        &trans  &trans  &bt BT_CLR
                            &trans  &trans  &trans    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2
            >;
        };

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
    };
};
